TimestampWSService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://timestamp/" xmlns:tns="http://timestamp/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="getEmployee" type="tns:getEmployee"/>

  <xs:element name="getEmployeeResponse" type="tns:getEmployeeResponse"/>

  <xs:complexType name="getEmployee">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getEmployeeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

