src/conf/xml-resources/web-services/TimestampServiceClient/wsdl/localhost_8080/TimestampWSApplication/TimestampWSApplication.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://timestamp.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://timestamp.me.org/">

<xs:element name="getTimestamp" type="tns:getTimestamp"/>

<xs:element name="getTimestampResponse" type="tns:getTimestampResponse"/>

<xs:complexType name="getTimestamp">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTimestampResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>